<p></p>



<div class="row"> 
    <div class="col-md-offset-10 col-md-2">
        <a [routerLink]="['/user/create']">Crear Usuario</a>
    </div>
  </div>
  <br>

  <form [formGroup]="userFilter" autocomplete="off" novalidate (ngSubmit)="getUsersFilters(userFilter.value)">
    <div class="form-row align-items-center">
      <div class="col-auto">
        <input type="text" class="form-control mb-2" formControlName="numberDocumentFilter" id="numberDocumentFilter"  placeholder="Documento">
      </div>
      <div class="col-auto">
        <div class="input-group mb-2">
          <input type="text" class="form-control" formControlName="firstNameFilter" id="firstNameFilter" placeholder="Nombres">
        </div>
      </div>
      <div class="col-auto">
        <div class="input-group mb-2">
          <input type="text" class="form-control" formControlName="lastNameFilter" id="lastNameFilter" placeholder="Apellidos">
        </div>
      </div>
     
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-2">Filtrar</button>
      </div>
    </div>
  </form>


  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellidos</th>
              <th>Identificacion</th>
              <th>Detalle</th>
              <th>Editar</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of users">
              <td>{{user.idEmployee}}</td>
              <td>{{user.firstName}}</td>
              <td>{{user.lastName}}</td>
              <td>{{user.numberDocument}}</td>
              <td><button type="button" id="details" class="btn btn-light" (click)="getUserDetails(user.idEmployee)">Detalle</button></td>
              <td><button type="button" id="update" class="btn btn-success" (click)="redirectToUpdatePage(user.idEmployee)">Editar</button></td>
              <td><button type="button" id="delete" class="btn btn-danger" (click)="redirectToDeletePage(user.idEmployee)">Borrar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>




  