	
<div class="card card-body bg-light mb-2 mt-2">
    <div class="row">
      <div class="col-md-3">
        <strong>id:</strong>
      </div>
      <div class="col-md-3">
        {{user?.idEmployee}}
      </div>
    </div>
    <div class="row">
        <div class="col-md-3">
          <strong>Nombres:</strong>
        </div>
        <div class="col-md-3">
          {{user?.firstName}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Apellidos:</strong>
        </div>
        <div class="col-md-3">
          {{user?.lastName}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Tipo Identificacion:</strong>
        </div>
        <div class="col-md-3">
          <select class="browser-default custom-select"  disabled [(ngModel)]="selectedTypeValue"  id="typeIdentificationId">
            <option *ngFor="let type of types" [ngValue]="type.idTypeIdentification">
              {{type.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Numero Identificacion:</strong>
        </div>
        <div class="col-md-3">
          {{user?.numberDocument}}
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>Area:</strong>
        </div>
        <div class="col-md-3">
          <select class="browser-default custom-select"  disabled [(ngModel)]="selectedAreaValue"  id="idArea">
            <option *ngFor="let area of areas" [ngValue]="area.idArea">
              {{area.name}}
            </option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <strong>SubArea:</strong>
        </div>
        <div class="col-md-3">
          <select class="browser-default custom-select"  disabled [(ngModel)]="selectedSubAreaValue"  id="idSubAreaSelect">
            <option *ngFor="let subArea of subAreas" [ngValue]="subArea.idSubArea">
              {{subArea.name}}
            </option>
          </select>
        </div>
      </div>
     
      

      
  </div>
  <div class="form-group row">
    <div class="col-md-1">
        <button type="button" class="btn btn-success" (click)="redirectToUserList()">Regresar</button>
    </div>
</div>
   
  