<div class="container-fluid">
    <form [formGroup]="userForm" autocomplete="off" novalidate (ngSubmit)="updateUser(userForm.value)">
      <div class="form-horizontal card card-body bg-light mb-2 mt-2">
   
        <div class="form-group row">
          <label for="firstName" class="control-label col-md-2">Nombres: </label>
          <div class="col-md-5">
            <input type="text" formControlName="firstName" id="firstName" class="form-control" />
          </div>
          <div class="col-md-5">
            <em *ngIf="validateControl('firstName') && hasError('firstName', 'required')">Nombres Requeridos</em>
            <em *ngIf="validateControl('firstName') && hasError('firstName', 'maxlength')">Maximo 50 caracteres.</em>
          </div>
        </div>

        <div class="form-group row">
            <label for="lastName" class="control-label col-md-2">Apellidos: </label>
            <div class="col-md-5">
              <input type="text" formControlName="lastName" id="lastName" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('lastName') && hasError('lastName', 'required')">Apellidos Requeridos</em>
              <em *ngIf="validateControl('lastName') && hasError('lastName', 'maxlength')">Maximo 50 caracteres.</em>
            </div>
          </div>

          <div class="form-group row">
            <label for="idTypeIdentification" class="control-label col-md-2">Tipo Identificacion: </label>
            <div class="col-md-5">
              <select class="browser-default custom-select" formControlName="idTypeIdentification" id="idTypeIdentification">
                <option *ngFor="let type of types"  value={{type.idTypeIdentification}}>
                  {{type.name}}
                </option>
              </select>
              
            
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('idTypeIdentification') && hasError('idTypeIdentification', 'required')">Requerido</em>
            </div>
          </div>

          <div class="form-group row">
            <label for="numberDocument" class="control-label col-md-2">Numero Identificacion: </label>
            <div class="col-md-5">
              <input type="text" formControlName="numberDocument" id="numberDocument" class="form-control" />
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('numberDocument') && hasError('numberDocument', 'required')">Requerido</em>
              <em *ngIf="validateControl('numberDocument') && hasError('numberDocument', 'maxlength')">Maximo 20 caracteres.</em>
              <em *ngIf="validateControl('numberDocument') && hasError('numberDocument', 'pattern')">Debe ser solo valores numericos</em>
            </div>
          </div>

          <div class="form-group row">
            <label for="idArea" class="control-label col-md-2">Area: </label>
            <div class="col-md-5">
              <select class="browser-default custom-select" formControlName="idArea" [(ngModel)]="selectedAreaValue" (change)='onOptionsSelectedArea()' [ngModelOptions]="{standalone: true}"  id="idArea">
                <option *ngFor="let area of areas" [ngValue]="area.idArea">
                  {{area.name}}
                </option>
              </select>
            
              
            
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('idArea') && hasError('idArea', 'required')">Requerido</em>
            </div>
          </div>

          <div class="form-group row">
            <label for="idSubArea" class="control-label col-md-2">SubArea: </label>
            <div class="col-md-5">
              <select class="browser-default custom-select"  formControlName="idSubArea"  [(ngModel)]="selectedSubAreaValue"  id="idSubArea">
                <option *ngFor="let subArea of subAreas" [ngValue]="subArea.idSubArea">
                  {{subArea.name}}
                </option>
              </select>
              
            
            </div>
            <div class="col-md-5">
              <em *ngIf="validateControl('idSubArea') && hasError('idSubArea', 'required')">Requerido</em>
            </div>
          </div>

         
   
       
   
        <br><br>
   
        <div class="form-group row">
            <div class="offset-5 col-md-1"  style="margin-left: 280px;margin-right: 50px;">
                <button type="submit" class="btn btn-info" [disabled]="!userForm.valid">Actualizar</button>
            </div>
            <div class="col-md-1">
                <button type="button" class="btn btn-danger" (click)="redirectToUserList()">Cancelar</button>
            </div>
        </div>
        
        
      </div>
    </form>
   
    <app-success-modal [modalHeaderText]="'Operacion Finalizada'" [modalBodyText]="'Proceso terminado con exitosamente'" [okButtonText]="'OK'" (redirectOnOK)="redirectToUserList()"></app-success-modal>
   
    <app-error-modal [modalHeaderText]="'Operacion Cancelada'"  [modalBodyText]="'Se ha presentado un Error'" [okButtonText]="'OK'"></app-error-modal>
   
  </div>
